.small-multiple-holder{
	width: 100%;
	float:left;
	clear:right;
	margin: 0 0 36px;

	h2{

	}
}
.small-multiple{
	margin: 0 0 12px 20px;
	float:left;

	 .line{
	 	stroke:none;
	 	
	 }
	 .Everton{
	 	fill: $Everton;
	 }

	 .Liverpool{
	 	fill: $Liverpool;
	 }
}

.sm-caption{
	@include fs-textSans(1);
	color: rgb(181,181,181)
}