.small-multiple-holder{
	width: 100%;
	float:left;
	clear:right;
	margin: 0 0 36px;

	h2{

	}
}
.small-multiple{
	margin: 0 20px 12px 0;
	float:left;

	 .line{
	 	stroke-width:2px;
	 }
	 .Everton{
	 	stroke: $Everton;
	 	fill: $Everton_rgba;
	 }

	 .Liverpool{
	 	stroke: $Liverpool;
	 	fill: $Liverpool_rgba;
	 }

	 circle{
		fill:  $Liverpool;
	}

	.tick{
		stroke-width:1px;
		@include fs-textSans(1);
		fill: $axis-neutral;
		shape-rendering: crispEdges;
		stroke-dasharray: 1, 5;
	}

	.axes path, .axes line {
		    fill: none;
		    stroke: $axis-neutral;
		    shape-rendering: crispEdges;
		}
	}

.sm-ux{
	stroke: white;
	fill: rgba($neutral-7, 0.9);
	cursor: pointer;

}

.sm-caption{
	@include fs-textSans(1);
	color: $axis-neutral;
	fill: $neutral-2;
}